body {
    margin: 0;
}

/* ============================== header section ================= */

#header {
    width: 100%;
    height: 100vh;
    background-color: black;

}

#HeaderContainer {
    width: 100%;
    height: 100vh;
    background-image: url(../image/png-bg/Rectangle3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.color-White {
    color: aliceblue;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* ---------------------------- text are   --------------- */
.headerText {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: 600px;
    right: 0;
    height: 100vh;
}

.TitleContainer {
    position: relative;
    width: 90%;
    height: 100px;
    margin: auto;
    top: 17px;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 17px;

}

.titleTextItalic {
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
}

/* -------------------- other text ------------------------------ */
.TitleotherContainerMain {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    display: flex;
}

/* -------------------------------------------------------- */

.tileScoresContainer {
    width: 75px;
    height: 75px;
    margin-right: auto;
    margin-left: 0;
    background: rgba(158, 154, 154, 0.56);
    border-radius: 17px;
}

.TitleOtherContainer {
    width: 75%;
    height: 75px;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
    background: rgba(158, 154, 154, 0.56);
    border-radius: 17px;

}

.titleOtherText {

    font-family: 'Jolly Lodger', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;

}